@page "/"

<h1>Welcome to SAPHub!</h1>

This is SAPHub, the best app to view the <strong>Company Codes</strong> from your SAP system.

<br />
<br />

<p>
    <strong>Serious:</strong><br />
    This is just a sample application how-to build reliable and scaleable services with SAP backend integration.
</p>

